:root {
	--grid-cols: '';
	--grid-rows: '';
	--margin: 2rem;
	--padding: 2rem;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

.body {
	font-size: 1rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: var(--margin);
}

.title {
	font-size: 5rem;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-playerBttns {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.span-player1,
.span-player2 {
	margin: 0px 0px 1rem 0px;
}

input {
	margin: 0px 1rem 1rem 0px;
	height: 3rem;
	padding: 0.5rem;
}

#player1,
#player2 {
	width: 25rem;
}

#player1Symbol,
#player2Symbol {
	width: 15rem;
}

.bttn {
	margin: 0px 0px 1rem 0px;
	width: 10rem;
	height: 3rem;
}

.gameBoard {
	width: 500px;
	height: 500px;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.gameCell {
	border: 1px solid rebeccapurple;
	background-color: antiquewhite;
	display: grid;
	place-content: center;
}
.gameCellText {
	border: none;
	outline: none;
	color: teal;
	font-size: 6rem;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	text-align: center;
	padding: 36px 51px;
}
